[Unit]
Description={{ nodejsapp_name }} nodejs application
{% if nodejsapp_repository_url is defined %}
Documentation={{ nodejsapp_repository_url }}
{% endif %}
After=network.target

[Service]
{% if nodejsapp_env_vars is defined %}
{% for var in nodejsapp_env_vars %}
Environment={{ var.name }}={{ var.value }}
{% endfor %}
{% endif %}
Type=simple
User=root
ExecStart={{ nodejsapp_service_command }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
