[Unit]
Description={{ nodejsapp_name }} nodejs application
Documentation={{ nodejsapp_service_documentation }}
After=network.target

[Service]
{% if nodejsapp_env_vars is defined %}
{% for var in nodejsapp_env_vars %}
Environment={{ var.name }}={{ var.value }}
{% endfor %}
{% endif %}
Type=simple
User=root
WorkingDirectory={{ nodejsapp_working_directory }}
ExecStart={{ nodejsapp_service_command }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
