[Unit]
Description={{ nodejsapp_name }} nodejs application
{% if nodejsapp_repository_url is defined %}
Documentation={{ nodejsapp_repository_url }}
{% endif %}
After=network.target

[Service]
Environment=NODE_PORT={{ nodejsapp_port }}
Type=simple
User=root
ExecStart=/usr/bin/node {{ nodejsapp_service_command }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
